
html{
    height: 100%;
}
body{
    background-color: #c5c5c5;
    color: #4c4c4c;
    font-family: sans-serif;
    margin: 0;
    top: 0;
}

.row{
    display: flex;
    flex-direction: row;
}
#title{
    width: 100%;
    text-align: center;
    margin: 80px 0;
}
#craftingTable{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#craftingGrid{}
#result{}
#arrow img{
    height: 100px;
    image-rendering: pixelated;
    cursor: default;
    user-select: none;
    margin: 0 40px;
}


.slot{
    width: 100px;
    height: 100px;
    background-color: #8a8a8a;
    border: solid 5px;
    border-color: #3f3f3f #f1f1f1 #f1f1f1 #3f3f3f;
    cursor: pointer;

    display: flex;
    justify-content: center;
    flex-direction: column; /* Расположить элементы сверху вниз */
    align-items: center; /* Центровка по горизонтали */
}
.slot:hover{
    filter: brightness(1.4) saturate(0.8) contrast(0.8);
}

.itemImg{
    height: 100%;
    user-select: none;
}

.notFoundItemTextureText{
    position: absolute;
    color: white; /* Цвет текста */
    background-color: rgba(0, 0, 0, 0.5); /* Фон с полупрозрачностью */
    font-size: 12px;
    user-select: none;
}
